Now try it yourself by uploading an image and configuring the necessary parameters for the evolutionary algorithm.<br>
Be aware that the higher the value of the parameters the longer the process takes to finish.
Also, the non-overlapping triangulation method is computationally more expensive than the overlapping method, so a
little patience is required.
Once the run has started a section below will appear where the progress of the run can be followed.
Here you will also be able to download the results once the run has finished.
<form method="post">
    <button type="submit" name="submit_button" value="submit" class="btn btn-primary">Configure</button>
</form>
Or fetch/clone the <a href="https://github.com/svandermeulen/evolutionary-triangles.git">git-repository</a> to explore
and modify the code yourself.