A download button will appear shortly after all generations have been computed.
Clicking this will trigger a download of a compressed .zip file containing a
set of results, which includes:
<ul>
	<li>the reference image as .png
	<li>config.json in which all the settings are stored
	<li>for each generation the image as .png with the highest fitness
	<li>an animation as .gif file where the best images are chronologically bundled
	<li>a table as .csv fie with all the fitness scores
	<li>a plot as .html file plotting the average fitness +/- standard deviation per generation
</ul>