/*body {color: blue;}*/
.header .text-vertical-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
}

text {
  text-align: justify;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
